.about {

    .about__copy {
        @extend %title-64;
        line-height: 115%;
        margin-bottom: 6.4rem;
        max-width: 115.4rem;

        @include media ('<phone') {
            font-size: 3.2rem;
        }
    }

    .about__img-wrapper {
        margin-bottom: 19.2rem;
        
        @include media ('<phone') {
            margin-bottom: 3.2rem;
        }
    }
}