%paragraph-18 {
    font-family: $font-neue-montreal;
    font-size: 1.8rem;
    font-weight: 500;
}

%paragraph-16 {
    font-family: $font-neue-montreal;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
}