%title-148 {
    font-family: $font-neue-montreal;
    font-size: 14.8rem;
    letter-spacing: -.25rem;
    line-height: 13.2rem;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
    font-weight: 500;
}

%subtitle-18 {
    font-family: $font-neue-montreal;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2.16rem;
}