%title-148 {
    font-family: $font-neue-montreal;
    font-size: 14.8rem;
    letter-spacing: -.25rem;
    line-height: 13.2rem;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
    font-weight: 500;

    @include media('<phone') {
        font-size: 4.8rem;
        line-height: 4.32rem;
        letter-spacing: -.125rem;
        margin-bottom: 1.6rem;
    }
}

%title-64 {
    font-family: $font-neue-montreal;
    font-size: 6.4rem;
    line-height: 1;
    font-weight: 500;
}

%title-40 {
    font-family: $font-neue-montreal;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
}

%title-32 {
    font-family: $font-neue-montreal;
    font-size: 3.2rem;
    line-height: 3.68rem;
    font-weight: 500;
}

%title-24 {
    font-family: $font-neue-montreal;
    font-size: 2.4rem;
    line-height: 115%;
    font-weight: 500;
}

%title-20 {
    font-family: $font-neue-montreal;
    font-size: 2rem;
    line-height: 115%;
    font-weight: 500;
}

%subtitle-18 {
    font-family: $font-neue-montreal;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2.16rem;
    font-weight: 500;

    @include media('<phone') {
        font-size: 18px;
        line-height: 21.6px;
    }
}