.homepage {

    header {
        padding-top: 6.4rem;
        margin-bottom: 12.8rem;

        @include media ('<phone') {
            padding-top: 1.6rem;
            margin-bottom: 6.4rem;
        }

        .homepage__title {
            @extend %title-148;

            @include media ('<phone') {
                margin-bottom: 6.4rem;
            }
        }

        .homepage__subtitle {
            @extend %subtitle-18;
            color: $color-light-gray;
            max-width: 50vw;
            margin-bottom: 9.6rem;

            @include media ('<phone') {
                font-size: 1.8rem;
                line-height: 2.16rem;
                max-width: 100vh;
                margin-bottom: 2.4rem;
            }
        }
    }

    .homepage__section--1 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 14.2rem;

        @include media ('<phone') {
            padding-left: 0;
            margin-bottom: 12.8rem;
            flex-direction: column;
            gap: 3.2rem;
        }

        .homepage__section-wrapper {

            display: flex;
            flex-direction: column;
            gap: 12.8rem;
            width: 56.6rem;

            @include media ('<phone') {
                max-width: 100%;
                gap: 6.4rem;
            }

            .homepage__section {
                display: flex;
                flex-direction: column;
                gap: 3.2rem;

                .homepage__section-title {
                    @extend %title-32;
                    // text-transform: uppercase;
                }

                .homepage__section-copy {
                    @extend %paragraph-16;
                    line-height: 2.5rem;
                    color: $color-light-gray;
                }
            }

        }

        .homepage__content {

            display: flex;
            flex: row;
            gap: 14rem;

            @include media ('<phone') {
                flex-direction: column;
                gap: 3.2rem;
            }

            .homepage__content-title {
                width: 96rem;
                @extend %paragraph-16;

            }

            .homepage__content-copy {
                @extend %paragraph-16;
                line-height: 2.5rem;
                color: $color-light-gray;
            }
        }
    }

    .homepage__section-image--wrapper {
        width: 56.6rem;
        margin-bottom: 12.4rem;

        @include media ('<phone') {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .homepage__section--2 {

        margin-bottom: 12.8rem;

        .homepage__section-wrapper {
            display: flex;
            flex-direction: column;
            gap: 6.4rem;
            padding: 0 26rem;

            @include media ('<phone') {
                padding: 0;
                gap: 3.2rem;
            }

            .homepage__section-title {
                @extend %title-32;
                width: 56.6rem;
                
                @include media ('<phone') {
                    width: 100%;
                }

            }

            .homepage__section-content {

                display: flex;
                justify-content: space-between;

                @include media ('<phone') {
                    flex-direction: column;
                    gap: 3.2rem
                }

                .content__title {

                    @extend %paragraph-16;
                }

                .copy__wrapper {

                    display: flex;
                    flex-direction: column;
                    gap: 3.2rem;
                    width: 56.6rem;

                    @include media ('<phone') {
                        width: 100%;
                    }

                    .subtitle {
                        @extend %paragraph-16;

                    }

                    .copy {
                        @extend %paragraph-16;
                        line-height: 2.5rem;
                        color: $color-light-gray;
                    }
                }
            }

        }
    }

    .homepage__image--align-left {
        padding-right: 26rem;
        margin-bottom: 12.8rem;

        @include media ('<phone') {
            padding-right: 0;
    }
}

    .homepage__cta--bottom {
        margin-bottom: 12.8rem;
        position: relative;

        .homepage__cta-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .homepage__cta-copy {
            cursor: default;
            text-align: center;
            @extend %title-148;
            color: white;
        }

        .homepage__cta-info {
            cursor: default;
            text-align: center;
            @extend %title-32;
            color: white;
        }
        
    }

    .section-3--wrapper {

        width: 50%;
        display: flex;
        margin: auto;
        margin-bottom: 12.8rem;
        flex-direction: column;
        gap: 6.4rem;

        @include media ('<phone') {
            width: 100%;
        }

        .section-3__title {

            @extend %title-32;
            // text-transform: uppercase;
        }

        .section-3__copy {

            @extend %paragraph-16;
            line-height: 2.5rem;
            color: $color-light-gray;
        }
    }

}