.homepage {

    header {
        padding: 6.4rem 0
    }

    .homepage__title {
        @extend %title-148;

    }

    .homepage__subtitle {
        @extend %subtitle-18;
        max-width: 50vw;
        margin-bottom: 9.6rem;
    }
}