.homepage {
    @extend %cover;
}

.homepage__title {
    @extend %title-63;

    width: 114.8rem;
    line-height: 1.2;
    letter-spacing: 0.06rem;
    position: absolute;
    left: 1rem;
    top: 17.6rem;

    @include media('<phone') {
        font-size: 18rem;
        line-height: 1;
        z-index: 999;
    }
}

.homepage__image {
    background-image: url('../../../public/stage.jpg');
    background-size: cover;
    width: 46.4rem;
    height: 58rem;
    position: absolute;
    bottom: 10rem;
    left: 116.4rem;

    @include media('<phone') {
        width: 146.4rem;
        height: 220rem;
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
    }
}