*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1440 * 10);
}

body {

    color: $color-cod-gray;
    @include media('<phone') {
        font-size: 100rem;
    }
    padding: 0 2.4rem 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover {
        -webkit-filter: blur(1.5px);
      filter: blur(1.5px);
    }
}