*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1440 * 10);
}

body {
    font-family: $font-neue-montreal;
    color: $color-cod-gray;
    // @include media('<phone') {
    //     font-size: 100rem;
    // }
    padding: 0 2.4rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}